# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# orginal
tmp.s
tmp
hanando

samples/*.s
samples/1
samples/2
samples/3
samples/4
samples/5
samples/6
samples/7
samples/8
samples/9
samples/10
samples/11
samples/12
samples/13
samples/15
samples/14

main
main.s
main2.s
main2
main3.s
main3
sample

main2.c
samples/17
samples/17.c
samples/18
samples/19
samples/31
samples/41
test.s
test

cppsamples/*.s
cppsamples/test1
cppsamples/test2
cppsamples/test3
cppsamples/test4
cppsamples/test5
cppsamples/test6
samples/32
samples/34
samples/34.s
samples/35_hanando
samples/35_gcc
samples/36_hanando
samples/36_gcc
samples/37
samples/39
samples/39*.s

cppsamples/test5
cppsamples/test7

hanandoO0
hanandoO1
hanandoO3
tmp.c
